@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* shared files */
body{
    font-family: "Azeret Mono", monospace;
}

/* header styles */
.banner-container{
    max-width: 1440px;
    min-height: 652px;
    margin: 0 auto;
    background-image: url(../assets/Hero-bg.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding-top: 5px;
}

.banner-content{
    width: 998px;
    height: 582px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin-top: 24px;
}

.banner-text-content{
    width: 998px;
    height: 310px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.banner-text-content h1{
    color: rgb(13, 19, 33);
    font-size: 39px;
    font-weight: 800;
    text-align: center;
}

.banner-paragraph{
    width: 852px;
    height: 60px;
    margin: 0 auto;
    color: rgb(13, 19, 33);
    font-size: 16px;
    font-weight: 400;
    text-align: center;
}

.banner-content button{
    width: 208px;
    height: 66px;
    border-radius: 8px;
    background: rgb(13, 19, 33);
    color: white;
    font-size: 20px;
    font-weight: 600;
    border: none;
}

/* why web development?? section styles */
.web-development-container{
    width: 1140px;
    height: 1395px;
    margin: 0 auto;
    margin-top: 74px;
    border-radius: 16px;
    background: rgba(13, 19, 33, 0.02);
    display: flex;
    justify-content: center;
    align-items: center;
}

.web-development-content{
    width: 946px;
    height: 1235px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.web-development-text{
    width: 852px;
    height: 115px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.web-development-text h1{
    color: rgb(13, 19, 33);
    font-size: 32px;
    font-weight: 800;
}

.web-development-text p{
    color: rgb(13, 19, 33);
    font-size: 16px;
    font-weight: 400;
    text-align: center;
}

.web-development-card-1, .web-development-card-3{
    width: 946px;
    height: 336px;
    border-radius: 16px;
    background: linear-gradient(90.00deg, rgb(255, 255, 255),rgba(255, 255, 255, 0) 100%);
    display: flex;
    justify-content: center;
    align-items: center;
}

.web-development-card-2{
    width: 946px;
    height: 336px;
    border-radius: 16px;
    background: linear-gradient(270.00deg, rgb(255, 255, 255),rgba(255, 255, 255, 0) 100%);
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-1-content{
    width: 850px;
    height: 240px;
    display: flex;
    align-items: center;
    gap: 99.77px;
}

.card-2-content{
    width: 850px;
    height: 240px;
    display: flex;
    align-items: center;
    gap: 32px;
}

.card-3-content{
    width: 850px;
    height: 240px;
    display: flex;
    align-items: center;
    gap: 133px;
}


.card-1-text, .card-2-text, .card-3-text{
    width: 477px;
    height: 220px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.card-1-text h5, .card-2-text h5, .card-3-text h5{
    color: rgba(13, 19, 33, 0.7);
    font-size: 22px;
    font-weight: 700;
}

.card-1-text p, .card-2-text p, .card-3-text p{
    color: rgb(13, 19, 33);
    font-size: 15px;
    font-weight: 400;
}

.card-1-text button, .card-2-text button, .card-3-text button{
    width: 150px;
    height: 48px;
    border: 1px solid rgb(13, 19, 33);
    color: rgb(13, 19, 33);
    font-size: 20px;
    font-weight: 600;
}

/* My Inspiration section styles */
.inspiration-container{
    width: 1140px;
    height: 775px;
    margin: 0 auto;
    margin-top: 88px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.inspiration-text-content{
    width: 852px;
    height: 113px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.inspiration-text-content h1{
    color: rgb(13, 19, 33);
    font-size: 32px;
    font-weight: 800;
}

.inspiration-text-content p{
    color: rgb(13, 19, 33);
    font-size: 16px;
    font-weight: 400;
    text-align: center;
}

.inspiration-video{
    width: 1140px;
    height: 614px;
    border: 1px solid rgba(13, 19, 33, 0.2);
    border-radius: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.inspiration-video iframe{
    width: 1076px;
    height: 550px;
    border-radius: 16px;
}